<div>
	<div class="row">
		<div class="col-md-3 left-panel">
			<select name="pageSizeStr" class="form-control" [(ngModel)]="pageSizeStr" size="1" (change)="pageSizeChange()">
				<option *ngFor="let pageSizeItem of pageSizeItems" value="{{pageSizeItem.value}}">{{pageSizeItem.caption}}</option>
			</select>
			{{ translationService.translate('Items on page') }}
		</div>
		<div class="col-md-9 text-right">
			<ul class="pagination justify-content-center" style="margin: 0">
				<li class="page-item" [class.disabled]="currentPage === 0">
					<a class="page-link" href="javascript:void(0)" (click)="getPrevPage()"><span aria-hidden="true">&laquo;</span></a>
				</li>
				<li *ngFor="let pageItem of pagesItems" class="page-item" [class.active]="pageItem.pageNo === currentPage">
					<a class="page-link" href="javascript:void(0)" (click)="getPageData(pageItem)">{{pageItem.caption}}</a>
				</li>
				<li class="page-item" [class.disabled]="currentPage === lastPage - 1">
					<a class="page-link" href="javascript:void(0)" (click)="getNextPage()"><span aria-hidden="true">&raquo;</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right">
			{{ translationService.translate('From [From ... to ... of ...]') + ' ' + (currentPage * pageSize + 1) + ' ' + translationService.translate('to [From ... to ... of ...]') + ' ' + (((currentPage + 1 ) * pageSize < totalRowsCount) ? ((currentPage + 1) * pageSize) : totalRowsCount) + ' ' +  translationService.translate('of [From ... to ... of ...]') + ' ' + totalRowsCount }}
		</div>
	</div>
</div>
